<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <title>Matthew Emaikwu's Webpage!</title>
    <!-- This webpage details my understanding of HTML. -->
</head>
<body>

<h1> Welcome to Matthew's webpage! </h1>
<h2> My Professional Background</h2>
<p>I am currently a senior at the <strong>University of Maryland College Park.</strong> I have interned at 5 different companies during my collegiate experience, in the fields of fashion, political consulting, manufacturing and more.</p>

<h2> My Interests </h2>
<p> I am not only into performing arts<em>(singing, theatre, and instruments)</em>, but I am also an avid soccer fan and enthusiast. I have also been a huge tennis fan, and I love to travel to different places.

<h2> My Family </h2>
<p id="special-paragraph"> I am originally from Nigeria, but I have lived in the Prince George's County, Maryland my entire life. I am also the youngest of five amazing siblings! </p>

<p><strong><em>My Favorite Soccer Teams:</em></strong></p>
<!-- I have placed my headers for "Favorite Soccer Teams" and "Travel Destination" in bold and italics. -->
<ol>
    <li>Real Madrid</li>
    <li>Chelsea F.C.</li>
    <li>Bayer Leverkusen</li>
    <li>Leicester City F.C.</li>
</ol>

<p class="highlight"><strong><em>My Favorite Travel Destinations</em></strong></p>
<ul>
    <li>Los Angeles, California</li>
    <li>Atlanta, Georgia</li>
    <li>Abuja, Nigeria</li>
    <li>Accra, Ghana</li>
    <li>Athens, Greece</li>
</ul>

<table>
    <tr>
        <th>Course Name</th>
        <th># of Credits</th>
        <th>Course Semester</th>
    </tr>
    <tr>
        <td>BMGT 386</td>
        <td>6.0</td>
        <td>Summer 2023</td>
    </tr>

    <tr>
        <td>BMGT 407</td>
        <td>3.0</td>
        <td>Spring 2024</td>
    </tr>

    <tr>
        <td>AASP 402</td>
        <td>3.0</td>
        <td>Spring 2024</td>
    </tr>
</table>
<p>These are some of my favorite websites!</p>
<!-- As you can tell, I love my leisure time lol. -->
<p>A link to <a href="https://www.youtube.com/">Visit YouTube.</a></p>
<p>A link to <a href="https://www.hbo.com/" target=" _blank">Visit HBO.</a></p>

<h3><strong>Here is a picture of the Smith logo.</strong></h3>

<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" class="logo" alt="Smith Logo">
<a href="about.html">Matthew Emaikwu's Webpage</a>
</body>
</html>